
div.fight {
    margin: 5px;
    background-color: #222222;
    color: #FFFFFF;
}

div.fight > div.heading {
    background-color: #333333;
    padding: 5px;
    cursor: pointer;
}

div.fight.success > div.heading {
    color:#7FE566;
}

div.fight.fail > div.heading {
    color: #E5A68C;
}

td.healer_name {
    vertical-align: text-top;
    width: 240px;
}

tr.Druid > td.healer_name {
    color: #FF7B0A;
}

tr.Druid > td.healer_amount > div.bar > div.bar_effective {
    background-color: #FF7B0A;
}

tr.Druid > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #FF7B0A7F;
}

tr.Priest > td.healer_name {
    color: #FFFFFF;
}

tr.Priest > td.healer_amount > div.bar > div.bar_effective {
    background-color: #FFFFFF;
}

tr.Priest > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #FFFFFF7F;
}

tr.Shaman > td.healer_name {
    color: #2258FF;
}

tr.Shaman > td.healer_amount > div.bar > div.bar_effective {
    background-color: #2258FF;
}

tr.Shaman > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #2258FF7F;
}

tr.Paladin > td.healer_name {
    color: #F47EB9;
}

tr.Paladin > td.healer_amount > div.bar > div.bar_effective {
    background-color: #F47EB9;
}

tr.Paladin > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #F47EB97F;
}

tr.Nature > td.healer_name {
    color: #429c5c;
}

tr.Nature > td.healer_amount > div.bar > div.bar_effective {
    background-color: #429c5c;
}

tr.Nature > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #429c5c7F;
}

tr.Shadow > td.healer_name {
    color: #c072dd;
}

tr.Shadow > td.healer_amount > div.bar > div.bar_effective {
    background-color: #c072dd;
}

tr.Shadow > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #c072dd7F;
}

tr.Frost > td.healer_name {
    color: #55BBFF;
}

tr.Frost > td.healer_amount > div.bar > div.bar_effective {
    background-color: #55BBFF;
}

tr.Frost > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #55BBFF7F;
}

tr.Fire > td.healer_name {
    color: #FF0000;
}

tr.Fire > td.healer_amount > div.bar > div.bar_effective {
    background-color: #FF0000;
}

tr.Fire > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #FF00007F;
}

tr.Arcane > td.healer_name {
    color: #DDBBFF;
}

tr.Arcane > td.healer_amount > div.bar > div.bar_effective {
    background-color: #DDBBFF;
}

tr.Arcane > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #DDBBFF7F;
}

tr.Holy > td.healer_name {
    color: #FFFFAA;
}

tr.Holy > td.healer_amount > div.bar > div.bar_effective {
    background-color: #FFFFAA;
}

tr.Holy > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #FFFFAA7F;
}

tr.Consumable > td.healer_name {
    color: #AAAAAA;
}

tr.Consumable > td.healer_amount > div.bar > div.bar_effective {
    background-color: #AAAAAA;
}

tr.Consumable > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #AAAAAA7F;
}

tr.Physical > td.healer_name {
    color: #AAAAAA;
}

tr.Physical > td.healer_amount > div.bar > div.bar_effective {
    background-color: #AAAAAA;
}

tr.Physical > td.healer_amount > div.bar > div.bar_overheal {
    background-color: #AAAAAA7F;
}

div.bar_wasted {
    background-color: #FF00007F;
}

td.healer_amount {
    vertical-align: text-top;
}

td.healer_cooldowns {
    vertical-align: text-top;
}

td.healer_consumes {
    text-align: center;
}

td.healer_casts {
    text-align: center;
}

td {
    border: solid 1px black;
    border-collapse: collapse;
    margin: 0;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
    padding-right: 5px;
}

td.percent {
    width: 55px;
}

td.amount {
    width: 55px;
}

td.healer_amount {
    width: 400px;
}

td.healer_consumes_mana {
    width: 45px;
    text-align: center;
}

td.tick {
    color: rgb(50%, 90%, 40%);
}

td.cross {
    color: rgb(90%,65%,55%);
}

tr.even {
    background-color: #111111;
}

tr.spell > td.healer_name {
    padding-left: 120px;
    vertical-align: middle;
}

tr.character {
    cursor: pointer;
}

table {
    border-spacing: 0;
    margin-left: 10px;
}

div.bar {
    display:flex;
}

img.spell_icon {
    width: 17px;
    height: 17px;
    vertical-align: middle;
}